# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
*.vsidx
SEOwnedDE/.vs/SEOwnedDE/v17/.suo
*.db
*.bin
*.pdb
*.recipe
*.log
*.tlog
*.db-shm
*.db-wal
*.ipch
*.opendb
